test_addresses_geocoded.csv
temp.json
*.o
*.so
*.gem
bin/shp2sqlite
build/shp2sqlite
src/shp2sqlite/shp2sqlite
src/liblwgeom/liblwgeom.a
*.log
geocoding.html
.DS_Store
geocoder.db
geocoder_2019.db
test/cache
.Rproj.user
.Rhistory
geocoder.Rproj
test/d_for_geocoding.rds
test/geocoding_cache/
test/tmp*
/.Rprofile
